[submodule "modules/pubmed"]
	path = modules/pubmed
	url = https://github.com/spyysalo/pubmed.git
[submodule "modules/pubtator"]
	path = modules/pubtator
	url = https://github.com/spyysalo/pubtator.git
[submodule "modules/annalign"]
	path = modules/annalign
	url = https://github.com/spyysalo/annalign.git
